{% extends 'base.html' %}

{% block  content  %}

{% if user.is_authenticated %}


<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">city</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created At</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
  {% if persons %}
 	{% for person in persons %}
 		<tr>
			<td>{{person.first_name}} {{person.last_name}}</td>
			<td>{{person.email}}</td>
			<td>{{person.phone}}</td>
			<td>{{person.adress}}</td>
			<td>{{person.city}}</td>
			<td>{{person.state}}</td>
			<td>{{person.zipcode}}</td>
			<td>{{person.created_at}}</td>
			<td><a href="{% url 'person'  person.id %}"> {{person.id}}</a></td>
		</tr>
	
	{% endfor %}
  {% endif %}
    
  </tbody>
</table>



{% else %}
<div class= "colmd-6 offser-md-3">
<h1>Login!</h1>
<br/>
<form method ="POST" action="{% url 'home' %}">
	{%csrf_token %}
	
  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder ="Username" required>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder ="password" required>
  </div>
  <br/> 
  <button type="submit" class="btn btn-secondary">Login</button>


</form>


{% endif %}

{% endblock%}